
/* tag header */
.header-container{
    background-color: rgb(32, 141, 243);
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}


.logo-header{
    width:250px;
    height:125px;
}

.title-article{
    font-size: 50px;
}
/* selctor main */
.container-main{
    font-weight: 600;
}

/* selector article */
.author, .data{
    color:rgb(124, 124, 124);
}
.author{
    font-size: 20px;
}

.data{
    font-size: 15px;
}

/* selector images */

.image-description{
    font-size: 10px;
}

/* slectors list(non funziona) */
.article-list{
    text-align: left;
}

/* selctors tabele */
.color-head-table{
    background-color: rgb(22, 180, 233);
}


.head-title{
    color:white;
    text-align: left;
}

.row-blue{
    background-color: rgb(113, 207, 238);
}

/* footer selectors */
.footer-title{
    color:rgb(202, 196, 196);
}

.container-image{
    position: relative;
}

.text-image{
    position:absolute;
    top:10px;
    font-size: 20px;
    color:white
}

/* highlight selctors */
.yellow{
    background-color: yellow;
}

#highlight-blu{
    color:rgb(42, 181, 228)
}
